*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-image: url(../asset/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container{
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 100%;
    max-width: 500px;
    padding: 50px 65px;
    background: transparent;
    backdrop-filter: blur(6px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.wrapper h1{
    text-align: center;
    color: #ffffff;
}
.wrapper .login-input{
    display: flex;
    flex-direction: column;
    margin: 35px 0 10px;
}
.wrapper .login-input #email,
.wrapper .login-input .pw-input,
.wrapper .login-input #username{
    width: 100%;
    padding: 15px 18px;
    border-radius: 8px;
    border: transparent;
    outline: none;
    background-color: rgba(30, 27, 30, 0.8);
    color: #ffffff;
    margin-bottom: 18px;
}
.wrapper .login-input .pw-input{
    display: flex;
    align-items: center;
}
.wrapper .login-input .pw-input #password{
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    color:  #ffffff;
}
.wrapper .login-input .pw-input #hide-pw{
    width: 13px;
    display: none;
}
.wrapper .login-input .forgot-pw ,
.wrapper .login-input .other-login-description{
    color: #c9c9c9;
    font-size: 12px;
    text-align: center;
}
.wrapper .login-input .btn{
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: transparent;
    outline: none;
    margin: 10px auto 10px;
    background-color:#461c55;
    color: #c9c9c9;
}
.wrapper .login-input .btn:hover{
    background-color: #381745;
}
.wrapper .login-input .other-login{
    display: flex;
    gap: 12px;
    margin: 18px auto;
}
.login-input .other-login .sm-logo{
    background-color: #d4d4d4;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-input .other-login .sm-logo img{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.wrapper .login-input .create-acc{
    color: #c9c9c9;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.wrapper .login-input .create-acc:hover{
    color: #9a9999;
}
.wrapper .login-input .sign-in{
    color: #c9c9c9;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 480px){
    body{
        height: 100vh;
    }
    .wrapper{
        width: 88%;
        font-size: 82%;
        padding: 35px 32px;
    }
    .wrapper .login-input #email,
    .wrapper .login-input .pw-input,
    .wrapper .login-input #username{
        padding: 13px 16px;
        font-size: 82%;
    }
    .wrapper .login-input .pw-input #password{
        font-size: 82%;
    }
    .wrapper .login-input .btn{
        font-size: 82%;
    }
    .login-input .other-login .sm-logo{
        width: 38px;
        height: 38px;
    }
    .login-input .other-login .sm-logo img{
        width: 22px;
        height: 22px;
    }
}
